/* Versión Escritorio */
@media (max-width: 1200px){
    .welcome{display: none !important;}
}
   
/* Versión Tableta */
@media (min-width: 535px) and (max-width: 824px){
    footer {flex-wrap: wrap;}
    .socialfooter {display: none;}
    .copyrighttext {
        margin-bottom: 20px;
        border-bottom: 3px dashed #91C588;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    #fondoBienvenida h1 {font-size: 2rem !important;}
    .titulos {display: none;}
    .imgTablet{display: block;}
}
    
/* Versione Movil */
@media (min-width: 200px) and (max-width: 534px){
    footer {flex-wrap: wrap;}
    .socialfooter {display: none;}
    .copyrighttext {
        margin-bottom: 20px;
        border-bottom: 3px dashed #91C588;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    #fondoBienvenida h1 {font-size: 1.7rem !important;}
    .tittlePromotion{font-size: 23px !important;}
    .imgDesktop, .imgTablet{display: none;}
    .imgMovil{display: block;}
}    

/* --------PERSONALIZADA NAVBAR----------------- */
@media (max-width:690px) {
    .nav > .nav-btn {
        display: flex;
        position: absolute;
        right: 30px;
        top: 16px;
        align-items: center;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 250px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 77px;
        left: 0px;
        z-index: 1;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {height: 0px;}
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        z-index: 80;
    }
    .iconInit{display: none !important;}
    .contentNavLiA{
        color: #ffffff !important;
        padding: 10px 30px 0px 30px;
        width: 100%;
    }
    .contentNavLiA input{
        width: 100%;
        border-radius: 5px;
    }
    .dropdown, .contentNavLiA.items{
        display: none !important;
        width: 100%;
    }
    .nav-linksResponsive{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        text-decoration: none;
        width: 100%;
        align-items: flex-start;
        font-family: 'Poppins', sans-serif;
    }
    .container1Icons, .containerIcon{display: none !important;}
    .logo {height: 70px;}
}