/* Versión Escritorio */
@media (max-width: 1200px){

}
   
/* Versión Tableta */
@media (min-width: 535px) and (max-width: 824px){
    .tresColumnas div {
        display: grid;
        grid-template-columns: 50%;
        justify-content: center;
    }
}
    
/* Versione Movil */
@media (min-width: 200px) and (max-width: 534px){
    .tresColumnas {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
    }

}