header{
    background-color: black;
    background-size: 100%;
    display: flex;
    justify-content: center;
/*    padding: 10px;
    /*border: 0;
    margin: 0;*/
}

.headerImg{
    height: 150px;
}

.btnLupa{
    max-height: 20px;
    max-width: 20px;
    display: flex;
    justify-content: center;
    

}

.buscador{
    background-color: black;
    display: flex;
    justify-content: center;
    max-height: 50px;
    padding-bottom: 2px;
}

.containerPrinc{
    background-color: #6D7078;
    margin: 0;
}

.cardsTittle{
    font-family:Arial, Helvetica, sans-serif;
    color:#7AD605;
    font-size: 38px;
    text-align: center;
    text-shadow: 10px;
    text-shadow: white; 
}

.cards{
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px; 
}

.cardsDesign{
    background-color: black;
    color: #7AD605;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: justify;
    text-shadow: 10px;
    text-shadow: white;
    border-radius: 6px;
    width: 300px;
    height: 520px;
}


.cardsImgs{
    width: 300px;
    height: 200px;
}

.cardsTxt{
    padding: 10px;
}

.total{
    background-color: #525457;
    color: #7AD605;
    font-size: 18px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    
}

