@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

:root {
  --text-color: #edf0f1;
  --kumera-color: #946520;
}

body {
  background-image: url("./imagenes/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inder', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
}

.title {
  color: var(--text-color);
  font-family: 'Irish Grover', cursive;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  margin-bottom: 30px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: var(--kumera-color);
}

article {
  padding: 30px 10%;
  color: var(--text-color);
}

footer {
  color: var(--text-color);
  padding: 30px 10%;
  background-color: var(--kumera-color);
  text-align: right;
  margin-top: auto;
}

.hat-container {
  padding: 30px 10%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hat-img {
  height: 240px;
  width: 360px;
}

.hat-text {
  color: var(--text-color);

}

.hat-text2 {
  background-color: var(--kumera-color);
  padding: 15px;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
}



.card-book {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  background: var(--kumera-color);
}

.card-book:hover {
  transform: scale(1.02);
}

#booksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin: 30px;
}

.titulo {
  text-align: center;
  padding: 20px;
  color: white;

}

.modal-container {
  display: none;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
  z-index: 99;
}

.modal {
  color: white;
  width: 500px;
  background-color: #333;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  border: 1px solid var(--kumera-color);
}

.modal-description {
  margin: 20px 0;
}

.modal-btn {
  top: -20px;
  right: -20px;
  position: absolute;
  color: black;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.modal-btn:hover {
  background-color: var(--kumera-color);
}
