@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

:root {
  --text-color: #edf0f1;
  --kumera-color: #946520;
}

body {
  background-image: url("./imagenes/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inder', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
}

.title {
  color: var(--text-color);
  font-family: 'Irish Grover', cursive;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  margin-bottom: 30px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: var(--kumera-color);
}

article {
  padding: 30px 10%;
  color: var(--text-color);
}

footer {
  color: var(--text-color);
  padding: 30px 10%;
  background-color: var(--kumera-color);
  text-align: right;
  margin-top: auto;
}

a:hover {
  color: #333;
}

.hat-container {
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hat-img {
  height: 240px;
  width: 360px;
  transition: all 0.2s;
}

.hat-img:hover {
  transform: scale(1.3);
}

.hat-text {
  color: var(--text-color);

}

.hat-text2 {
  background-color: var(--kumera-color);
  padding: 15px;
  width: 458px;
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
  border-radius: 20px;
}

.card-book {
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  background: var(--kumera-color);
  opacity: 0.7;
  flex-direction: column;
  border-radius: 10px;

}

.card-book:hover {
  transform: scale(1.02);
}

#booksContainer {
  display: grid;
  grid-template-columns: 10fr 10fr 10fr 10fr;
  gap: 20px;
  margin: 60px;
}

.titulo {
  text-align: center;
  color: white;
  justify-content: center;
}

.titulo:hover {
  color: black;
}

.modal-container {
  display: none;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
  z-index: 99;
}

.modal {
  color: white;
  width: 500px;
  background-color: #333;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  border: 1px solid var(--kumera-color);
}

.modal-description {
  margin: 20px 0;
}

.modal-btn {
  top: -20px;
  right: -20px;
  position: absolute;
  color: black;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.modal-btn:hover {
  background-color: var(--kumera-color);
}

/* Characters styles */
.character-name {
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: #946520;
  width: 30%;
  border-radius: 10px;
  display: flex;
  float: left;
  margin: 20px;
  justify-content: center;
  align-content: center;
}

.character-name:hover {
  color: black;
  opacity: 0.5;
  transform: scale(1.02);
}

.search-btn {
  background-color: #946520;
  color: #edf0f1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5%;
}

.search-btn:hover {
  background-color: white;
  color: #946520;
  cursor: pointer;
}

.search {
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  color: #946520;
  margin-top: 20px;
  margin-left: 40%;
  margin-bottom: 5%;
  width: 216px;
}

.titulo-characaters {
  margin-top: 20px;
  color: #edf0f1;
  font-size: 20px;
  text-align: center;
}

/*En caso de que se use el vieo 
iframe{
    border-radius: 20px;
    margin-left: 25%;
    margin-bottom: 2%;
}

/* carrusel styles */

.carousel {
  overflow: hidden;
  max-width: 600px;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
  text-align: center;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #946520;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

/*End characters styles*/
/*spells styles*/
.spells-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 50px;
}

.letters {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: var(--kumera-color);
  cursor: pointer;
}

.letters:hover {
  transform: scale(1.02);
  color: var(--kumera-color);
  text-decoration-color: var(--text-color);
}

/*end spells styles*/
